# Font Awesome Pro registry - required to install the @fortawesome/* packages that hoist-react
# depends on. Authenticate with your own token, kept OUT of this repo: add
# `//npm.fontawesome.com/:_authToken=<token>` to your `~/.npmrc`. CI injects it from a secret.
@fortawesome:registry=https://npm.fontawesome.com/
